body {
    background-color: #efefef;
    color: #efefef;
}

#artikel{
    background-color: #7f7c7c;
    padding: 20px;
}

h1{
    background-color: rgb(100,100,90);
    padding: 10px;
}

h2{
    background-color: rgba(15, 160, 176,1);
    padding: 10px;
}

/* hue - 0 sampai 360 */
/* saturation - 0% sampai 100% */
/* lightness - 0% sampai 100% */
p.paragraf1{
    background-color: hsl(150, 50%, 20%);
    padding: 10px;
}


/* alpha 0 - 1 */
p.paragraf2{
    background-color: hsla(150, 50%, 20%, 0.4);
    padding: 10px;
}