h1{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{  
    font-family: Arial;
    color: black;
}

b{
    color: brown;
}

i{
    color:deeppink;
    background-color:black;
}