/* universal selector */

* {
    font-family: Tahoma;
    background-color: darkslategray;
    
}

/* type selector */

h1{
    font: size 30px;
    color: #fff;
}

/* class selector */
.artikel {
    font-size: 20px;
}

.credit {
    font-size: 12px;
}

.penulis{
    color: aquamarine;
}

.tanggal {
    background-color: crimson;
    color: black;
}

/* id selector */

#artikel-1 {
    color: gold;
}

/* child selector */
p>span {
    color: chartreuse;
}

/* first child */
h3+p {
    color: pink;
    font-size: 14px;
}

/* all child */
h1~p{
    text-align: justify;
}